body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

table {
    margin: 0 auto;
    width: 55%;
    border-collapse: collapse;
}

h1, h2, p {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

form {
    text-align: center;
    margin: 0 auto;
    width: 15%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 35px;
    font-style: oblique;
}
.label {
    display: block;;
    text-align: left;
}